version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: moviemate-postgres
    restart: always
    environment:
      POSTGRES_DB: moviemate
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  app:
    build: .
    container_name: moviemate-app
    depends_on:
      - postgres
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8080:8080"

volumes:
  postgres_data: